$width-con: 1500px;
.app-wrapper {
   flex-direction: column;
   display: flex;
   overflow: hidden;
}
.content {
   width: 1100px;
   margin: 0 auto;
   overflow: auto;
   @media screen and (max-width: $width-con) {
   }
   @media screen and (max-width: 992px) {
      width: 800px;
   }
   @media screen and (max-width: 767px) {
      width: 500px;
   }
   @media screen and (max-width: 558px) {
      width: 400px;
   }
   @media screen and (max-width: 420px) {
      width: 300px;
   }
   @media screen and (max-width: 320px) {
      width: 100%;
   }
}
.app-wrapper-container {
   display: flex;
   min-width: 100%;
   min-height: 100vh;
   Nav {
      flex: 0 0 17%;
   }
   .app-wrapper-content {
      background: #2d363e;
      flex: 0 0 83%;
   }
}
.footer {
   background: #001d1e;
   &__text {
      text-align: center;
      padding: 5px 0;
      @media screen and (max-width: 767px) {
         font-size: 14px;
         padding: 2px 0;
      }
   }
}
input,
textarea,
button {
   color: black;
}
* {
   color: white;
}
