.value {
  height: 500px;
  width: 800px;
  background: white;
}

.text {
  color: #000;
  font-size: 54px;
  text-transform: capitalize;
  text-align: right;
}

.exampleBlock,
.exampleString {
  color: black;
}

.exampleBlock {
  padding: 20px;
  border: 1px solid black;
  margin: 10px;
  max-width: 500px;
}
