.nav {
   background: #002627;
   align-items: center;
   padding: 10px;

   .item a {
      display: block;
      padding: 10px 0px 10px 50px;
      cursor: pointer;
      border-radius: 5px;
      margin: 0 auto;
      &:hover {
         background: #014244;
      }
      color: white;
      text-decoration: none;
   }
   .item a.active {
      color: gold;
   }
   .item__friends h2 {
      text-align: center;
      margin-top: 50px;
      font-size: 1.5em;
      font-weight: 100;
   }
   .item__mainBlock {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      padding: 0 10px;
      justify-content: center;
      .item__Block {
         &:hover {
            color: gold;
            cursor: pointer;
         }
         padding: 0 10px;
      }
   }
}
